.container{
   height: 100%;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

.header-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-end: auto;
    background-color: #0D52A1;
    height: 100px;
    box-sizing: border-box;
}

.header-items{
    /* border: solid 1px black; */
    width: 60%;
    
}

.header-container :last-child{
    justify-self:flex-end;
    padding: 10px;  
}

.header-items > div{
    margin-top: 10px;
}


.search-input-field{
    outline: none;
    border: none;
    padding: 7px;
    font-size: medium;
    border-radius: 10px 0px 0px 10px;

}

.search-input-field:focus{
    border: 3px solid rgb(13, 97, 192);
}

.search-button{
    background-color: #2770C4;
    outline: none;
    border-left: 0px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    color: white;
    height: 40px;
    font-size: medium;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    height: 35px;
}

.search-button:hover{
    background-color: rgb(27, 86, 141);
    transition: background-color 2s ease-in; 
}


/* Logo styling starts here */

.logo-div{
    /* border: solid 1px black; */
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 25%;
}


.logo-Image1{
     height: 60px;
     width: 60px;
     background-color: #0075EB;
     border-radius: 50%;
}

.logo-Image2{
    position: relative;
    height: 30px;
    width: 30px;
    background-color: rgba(74, 76, 78, 0.6);
    border-radius: 50%;
    margin: auto;
    top: 5px;
}

.logo-text{
    position: relative;
    bottom: 14px;
    right:10px;
    color: white;
}

.blog-name{
    position: relative;
    color: white;
    bottom: 5px;
    width: 100%;

}

.blog-slogan{
    position: relative;
    width: 100%;
    color: white;
    bottom:17px;
    right: 12px;
    font-size:0.9rem;;
    font-weight: 400;
}
/* 
Home page Image starts here */

.homepage-Image{
    position: relative;
    width: 100%;
    height: 280px;
    top: 60px;
    background-image: linear-gradient( rgba(0, 0, 1, 0.411), rgba(0, 0, 0, 0.452)), url(../../../Images/HomeImage.jpg) ;
    background-size: cover;
}
                  
.homepage-Image-text{
    width: 40%;
    height: 100%;
    margin: auto;
    color:rgb(250, 250, 250);
}

.homepage-Image-text h1{
    position: relative;
    top: 73px;
    font-weight: 700;
    text-shadow: 5px;
}

.read-more-button{
    position: relative;
    padding: 10px;
    border: none;
    font-size: large;
    color: white;
    top: 90px;
    margin: auto;
    font-weight: 600;
    background-color: #0D52A1;
}


.articles-recentPosts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    margin: auto;
    width: 93%;
    height: 29px;
    top: 90px;
    text-align: left;
    font-size: large;
    font-weight: 500;
    color: rgb(39, 38, 38);
}

.articles-recentPosts > div:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 92%;
    /* background-color: rgb(247, 240, 240); */
    height: 300px;
  }


  

.articles-recentPosts > div:last-child{
    /* background-color: green; */
  /* border-bottom: solid 0.2px rgb(175, 175, 175); */
}

.articles-recentPosts > div > h3{
    font-size: large;
    font-weight: 500;
    color: rgb(39, 38, 38);
    height: 29px;
    border-bottom: solid 0.2px rgb(175, 175, 175);
}



.view-all{
    position:relative;
    width: 100%;
    height: 50px;
    top: 770px;
    
}

.view{
    position: static;
    border-radius:20px;
    cursor: pointer;
    font-size: 15px;
}

.view:hover{
    background-color: rgb(43, 112, 168);
    transition: 0.5s ease-in;
}

.popular-div{
    position: relative;
    width: 100%;
    height: 470px;
    top:800px;
    font-size: large;
    background-color: #F1F1F1;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.popular-div > div{
    /* border: solid 1px black; */
    padding: 10px;
}


.popular-div h5{
    font-size: 22px;
    width: 70%;
    color: rgb(24, 24, 24);
    margin: 10px auto;
   text-align: left;
}

.topic-containers{
  margin-top: -7px;
}

.topic-containers p{
  width: 70%;
  margin: 25px auto;
  text-align: left;
  font-weight: 600;
  font-size: 17px;
  color: rgb(59, 59, 59);
}

.popular-div > div:last-child h5{
    text-align: center;
}

.topic-containers button{
    display: block;
    margin-top: 15px;
}

.social-handles{
    padding: 5px;
    width: 50%;
    border: none;
    font-size: large;
    color: white;
    top: 90px;
    margin: auto;
    font-weight: 600;
    background-color: #0D52A1;
}

.topic-containers .read-more-button{
   padding: 13px 10px;
}

.social-handles span{
    position: relative;
    bottom: 5px;
}




.footer-div{
    width: 100%;
    height: 50px;
    position: relative;
    top: 800px;
    background-color: #0D52A1;
}

.footer-div h6{
    position: relative;
    width: 20%;
    color: white;
    margin: auto;
    top: 15px;
    font-size: medium;
}





/* Responsive design starts  */

@media (max-width: 480px) {
    .container {
      height: auto;
    }

    .header-container{
        width: 100%;
    }

    .hide{
        display: none;
    }

    .homepage-Image{
        top: 0;
    }

    .homepage-Image-text{
        width: 60%;
    }

    .homepage-Image-text h1{
        position: relative;
        top: 60px;
        width: 100%;
        font-weight: 400;
        text-shadow: 5px;
    }

    .read-more-button{
        font-weight: 400;
    }


    .articles-recentPosts{
        display: block;
        top: 50px;
        padding: 10px;
    }

    .articles-recentPosts > div h3{
        font-size: larger;
        padding-bottom: 5px;
    }

    .articles-recentPosts > div:first-child{
        height: auto;
    }

    .articles-recentPosts > div:last-child{
        margin-top: 50px;
    }
    .articles-recentPosts > div:last-child h3{
        border-bottom: none;
    }

    .update-div h4{
        font-size: larger;
        font-weight: 550;
    }


    .view-all {
        position: relative;
        top: 1400px;
    }

    .view-all  button{
        font-weight: 600;
    }

    .topic-containers:nth-child(1){
        position: relative;
        top: 40px;
    }

    .social-handles{
        width: 80%;
    }






    .popular-div{
        top: 1500px;
        grid-template-columns: repeat(2,1fr);
        height: auto;
        top:1450px;
    }

    .footer-div{
        position: relative;
        top: 1450px;
        height: 50px;
      
    }

    .footer-div h6{
        top: 15px;
        width: 100%;
    }

  }