
.future-posts{
    position: relative;
    margin-top:15px;
    width: 100%;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 50px solid #0D52A1;
    transform:rotateX(180deg);
  }

  .arrow-left{
      position: absolute;
      width: 0;
      height: 0;
      border-top:40px solid transparent;
      border-bottom: 40px solid transparent;
      border-right: 50px solid #0D52A1;
      float: right; 
      right: 0; 
      bottom: 0;    
  }

  .update-div{
      position: relative;
      margin: auto;
      bottom: 30px;
      width: 70%;
  }

  .update-div h4{
    width: 70%;
    text-align: center;
    margin: auto;
  }

  .update-div p{
      position: relative;
      text-align: center;
      margin: auto;
      top:30px;
  }