body{
  padding: 0;
  margin: 0;
}

h1{
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  width: 100%;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width:400px) {


}



